@font-face {
  font-family: 'almoni-neue';
  src: url('https://konimbo-general-files.s3.eu-west-1.amazonaws.com/fonts/almoni-neue/almoni-neue-aaa-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


.App {
    text-align: center;
  }
  .product_line{
    display: block;
  }
  label.suppliers__label {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 13px;
      margin-top: 13px;
      color: rgba(17, 17, 17, 0.48);
  }
  label.suppliers__label > select:focus-visible,
  label.suppliers__label > select:focus,
  label.suppliers__label > select:hover,
   label.suppliers__label > input:focus-visible,
  label.suppliers__label > input:focus,
  label.suppliers__label > input:hover  {
      box-shadow: 0 0 0 1px #00366c;
      outline: none;
  }
  
  ul.suppliers__ul {
      padding: 3px;
      background: #FFFFFF;
      overflow: auto;
      margin: 0;
      HEIGHT: 102PX;
      /* direction: rtl; */
  }
  .wrap_product_line{
     display: block;
     width: 89%;    
     overflow: hidden;
     text-align: right;
  }
  

   .suppliers__checkbox  input[type=checkbox]:checked + .checkbox-blog-switch {
    background: #91C03C;
    background-image: url(https://konimboimages.s3.amazonaws.com/system/photos/736384/original/42034c06ad0517336ad1df937337efff.svg?1666102071);
    background-repeat: no-repeat;
    background-position: bottom 5px left 4px;
}

   .suppliers__checkbox  input[type=checkbox]:checked + .checkbox-blog-switch:before{
    display: none;

   }
  .suppliers__checkbox input[type="checkbox"]:not(:disabled) + .checkbox-blog-switch {
      cursor: pointer;
      margin-left: 6px;
  }
  
  .checkbox-blog input[type=checkbox]:checked + .checkbox-blog-switch i.fa-solid.fa-check {
      display: block;
  }
  
  .suppliers__checkbox  input[type=checkbox] {
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      z-index: -1;
      opacity: 0;
  }

  .suppliers__checkbox .checkbox-blog-switch:after {
    content: '';
    position: absolute;
    top: 3.7px;
    margin-left: auto;
    right: 3px;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #fff;
    transition: .15s;
    transition: all .5s ease;
    border: 1.375px solid #8CBD34;
}

.suppliers__checkbox .checkbox-blog-switch:before {
    content: '';
    position: absolute;
    top: 1.75px;
    left: 1.4px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #91C03C;
    transition: all .4s ease;
}


.suppliers__checkbox .checkbox-blog-switch {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 36px;
    height: 20px;
    border-radius: 68px;
    vertical-align: top;
    background: #fff;
    transition: .2s;
    border: 1.5px solid #8CBD34;
}

  

  .suppliers_wrapper_main {
    background-image: url(https://konimboimages.s3.amazonaws.com/system/photos/762011/original/23ad31ae288ac0553820e7562e06f33b.svg?1672231177);
    background-repeat: no-repeat;
    background-position-x: 40px;
    background-position: bottom 15px left 17px;
    background-size: 93px;
    height: 100%;
    /* padding: 13px; */
}
  label.suppliers__checkbox {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #000000;
      font-size: 15px;
      font-weight: 500;
      margin-top: 7px;
  }
  
.Confirmation__button:hover ,
.suppliers__button:hover{
    background: linear-gradient(315deg, #4D7800 -0.12%, #9AD03B 99.88%);
  }


  .suppliers__button{
      width: 100%;
      height: 36px;
      background: linear-gradient(315deg, #70A414 -0.12%, #AED667 99.88%);
      border-radius: 64px;
      border: none;
      color: white;
      font-size: 19px;
      font-weight: 700;
      margin: auto;
      display: block;
      margin-top: 20px;
      cursor: pointer;
  }
  .suppliers__button.erorr_btn{
    cursor: not-allowed;
  }
  .suppliers_ulWrapper {
      padding: 6px;
      background: #FFFFFF;
      box-shadow: 0px 0px 6px 1px rgba(51, 51, 51, 0.16);
      border-radius: 6px;
      height: 200px;
      direction: ltr;
      /* overflow: auto; */
      margin-top: 5px;
      width: 100%;
  
  }
    .suppliers_ulWrapper.none{
        display:none;
    }



  ul.suppliers__ul li span.delete_btn {
      background-image: url("https://konimboimages.s3.amazonaws.com/system/photos/747535/original/d898bf4417163494b25a80e29b13a11f.svg?1668671938");
      background-color: transparent;
      border: none;
      background-repeat: no-repeat;
      font-size: 0;
      width: 15px;
      padding: 0;
      background-position: center;
      cursor: pointer;
  }
  
  ul.suppliers__ul li {
      list-style: none;
      color: #111111;
      font-size: 13px;
      display: flex;
      font-weight: 400;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 26px;
      padding: 3px 8px;
      line-height: 20px;
  }
  
  ul::-webkit-scrollbar {
      width: 3px;
   
    
  }
  ul::-webkit-scrollbar-thumb {
      background: rgba(63, 67, 80, 0.24);
        border-radius: 100px;
  }
  
  ul::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
     background-color: transparent;
  }

    select::-webkit-scrollbar {
      width: 5px;
   
    
  }
  select::-webkit-scrollbar-thumb {
     background: #8CBD34;
    border-radius: 100px;
  }
  
  select::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
     background-color: transparent;
  }
  
  
  ul.suppliers__ul li:hover {
      background: #F3F3F3;
  }

  label.suppliers__label > select, label.suppliers__label > input {
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgba(51, 51, 51, 0.16);
    border-radius: 68.363px;
    border: none;
    height: 30px;
    padding: 0 6px;
    width: 100%;
    font-size: 15px;
    color: #111111;
}

a.suppliers__Confirmation_a {
    color: #689ECE;
}

 label.suppliers__label > input {
    padding-right: 15px;
}


 label.suppliers__label > select {
    padding-right: 7px;
}

  label.suppliers__label > select{
    margin: 10px 0 0 0;
}
  label.suppliers__label > input{
    margin: 17px auto;
}
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  body {
    overflow: hidden;

}
.suppliers_wrapper {
    width: 244px;
    margin: auto;
}

.suppliers_wrapper_main{
    margin: 0;
    font-family: 'almoni-neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 284px;
    height: 500px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px 1px rgb(51 51 51 / 16%);
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    direction: rtl;
    padding-top: 6px;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1.suppliers__headline {
   color: #111111;
    font-size: 15px;
    padding-right: 50px;
    position: relative;
    height: 51px;
    line-height: 51px;
    font-weight: 900;
}

h1.suppliers__headline:before {
    content: "";
    background: url(https://konimboimages.s3.amazonaws.com/system/photos/761908/original/ff5204462ca25f2ce1f665941a5c02a9.svg?1672217808);
    width: 41px;
    height: 51px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
}  

.suppliers__headline_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Logout_btn{
    color: #8CBD34;
    display: block;
    height: auto;
    width: 40px;
    font-size: 13px;
    cursor: pointer;

}


.erorr_msg {
    color: #CA3142!important;
    padding-right: 20px;
    background-image: url(https://konimboimages.s3.amazonaws.com/system/photos/736976/original/85886624cb7720543bb8543d7d5ea526.svg?1666264253);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 700;
}

.suppliers__login_span{
    font-size: 16px;
    height: 16px;
    color: #111111;
    line-height: 12px;
    display: block;
}
input.suppliers__login_checkbox{
    width: 16px;
    height: 16px;
    margin-left: 5px;
    appearance: none;
    border: 1px solid #000;
    border-radius: 2px;

}
input.suppliers__login_checkbox:checked{
    border: 1px solid #8CBD34;
    background-color: #8CBD34;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    background-image: url(https://konimboimages.s3.amazonaws.com/system/photos/736384/original/42034c06ad0517336ad1df937337efff.svg?1666102071);
}


label.suppliers_checkbox__label {
    display: flex;
    margin-right: 2px;
}

.refInput{
    display: none;
}


.suppliers__Confirmation_span {
    display: inline-block;
    margin-top: 10px;
    color: #8CBD34;
    text-decoration: underline;
    cursor: pointer;
}

.suppliers__Confirmation_h4 {
    font-size: 16px;
    font-weight: 700;
}

.Confirmation__button {
    width: 188px;
    height: 36px;
    background: linear-gradient(315deg, #70A414 -0.12%, #AED667 99.88%);
    border-radius: 64px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    display: block;
    cursor: pointer;
}

.back_btn {
    width: 40px;
    height: 35px;
    display: block;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px 30px;
    cursor: pointer;
    text-decoration-line: underline;
    color: #8CBD34;
    font-size: 16px;
}

.btn_Wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}

body .suppliers_ulWrapper.Confirmation__ulWrapper{
    height: 236px;
}

.Confirmation__Wrapper label.suppliers_checkbox__label {
    margin-top: 20px;
}